/* Основной шрифт */
body {
    font-family: 'Inter', sans-serif;
}

/* Настройки для главной картинки */
.hero-bg {
    /* 👇 ССЫЛКА НА ТВОЕ ФОТО В ПАПКЕ IMG */
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../img/hero.jpg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}

html { scroll-behavior: smooth; }

/* Скрытие скроллбара */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }